.project-showcase-icons
  .project-showcase-icon
    = render partial: "components/icons/home-icon"
  .project-showcase-icon
    = render partial: "components/icons/form-icon"
  .project-showcase-icon
    = render partial: "components/icons/archive-icon"
  .project-showcase-icon
    = render partial: "components/icons/form-variations-icon"
  .project-showcase-icon
    = render partial: "components/icons/section-icon"
  .project-showcase-icon
    = render partial: "components/icons/field-icon"
  .project-showcase-icon
    = render partial: "components/icons/section-import-icon"
  .project-showcase-icon
    = render partial: "components/icons/field-import-icon"
  .project-showcase-icon
    = render partial: "components/icons/edit-icon"
  .project-showcase-icon
    = render partial: "components/icons/undo-icon"
  .project-showcase-icon
    = render partial: "components/icons/copy-icon"
  .project-showcase-icon
    = render partial: "components/icons/redirect-icon"
  .project-showcase-icon
    = render partial: "components/icons/delete-icon"
  .project-showcase-icon
    = render partial: "components/icons/collapse-icon"
  .project-showcase-icon
    = render partial: "components/icons/checkbox-icon"
  .project-showcase-icon
    = render partial: "components/icons/radiobutton-icon"
  .project-showcase-icon
    = render partial: "components/icons/selectbox-icon"
  .project-showcase-icon
    = render partial: "components/icons/yes-no-icon"
  .project-showcase-icon
    = render partial: "components/icons/oneline-icon"
  .project-showcase-icon
    = render partial: "components/icons/paragraph-icon"
  .project-showcase-icon
    = render partial: "components/icons/fileupload-icon"
  .project-showcase-icon
    = render partial: "components/icons/monetary-icon"
  .project-showcase-icon
    = render partial: "components/icons/numbers-icon"
  .project-showcase-icon
    = render partial: "components/icons/address-icon"
  .project-showcase-icon
    = render partial: "components/icons/label-icon"
  .project-showcase-icon
    = render partial: "components/icons/popup-icon"
  .project-showcase-icon
    = render partial: "components/icons/budget-icon"
  .project-showcase-icon
    = render partial: "components/icons/advbudget-icon"
  .project-showcase-icon
    = render partial: "components/icons/down-arrow-icon"
  .project-showcase-icon
    = render partial: "components/icons/up-down-arrow-icon"
