.project-display-container{class: project, data: {section_name: "/#{project}"}}
  .project-display
    .project-display-info
      .project-display-headings
        %h2.project-display-title= title
        %label.project-display-label= subtitle
      = render partial: 'shared/project-view-link', locals: {screen: 'desktop'}

    .project-display-hero{class: "#{display_layout == 'thirds' ? 'hero-thirds' : ''}"}
      = image_tag "#{project}/#{project}-hero-1", class: 'project-display-hero-image'
      = image_tag "#{project}/#{project}-hero-2", class: 'project-display-hero-image'
      - if display_layout == 'thirds'
        = image_tag "#{project}/#{project}-hero-3", class: 'project-display-hero-image'

    = render partial: 'shared/project-view-link', locals: {screen: 'mobile'}

  -# .project-showcase
