.swiper-container
  .project-display-gradient
  .swiper-wrapper
    .swiper-slide.project-display-container.welcome{data: {hash: controller_name}}
      .project-display-map
        %a{class: 'project-display-map-item about-me'}
        %a{class: 'project-display-map-item work'}
        %a{class: 'project-display-map-item contact'}

    = render partial: 'home/project-display', locals: {project: t('project_display.formnflow.hash'), title: t('project_display.formnflow.title'), subtitle: t('project_display.formnflow.subtitle'), display_layout: 'halves'}

    = render partial: 'home/project-display', locals: {project: t('project_display.hatcher.hash'), title: t('project_display.hatcher.title'), subtitle: t('project_display.hatcher.subtitle'), display_layout: 'thirds'}

    = render partial: 'home/project-display', locals: {project: t('project_display.speedy_vocab.hash'), title: t('project_display.speedy_vocab.title'), subtitle: t('project_display.speedy_vocab.subtitle'), display_layout: 'halves'}

    = render partial: 'home/project-display', locals: {project: t('project_display.nexus_pattern.hash'), title: t('project_display.nexus_pattern.title'), subtitle: t('project_display.nexus_pattern.subtitle'), display_layout: 'halves'}

  = render partial: 'shared/icons/logo'

  = render partial: 'shared/project-navigation'
