.project-display-gradient
.project-display-container.welcome{data: {section_name: "/welcome"}}
  .logo-container
    = render partial: 'shared/icons/logo'

.project-display-gradient
.project-display-container.formnflow{data: {section_name: "/formnflow"}}
  .project-display
    .project-display-headings
      %h2.project-display-title FORMNFLOW
      %label.project-display-label UI/UX Design & Front-End Dev
    .project-display-hero
      = image_tag 'formnflow/formnflow-hero-1', class: 'project-display-hero-image'
      = image_tag 'formnflow/formnflow-hero-2', class: 'project-display-hero-image'

.project-display-gradient
.project-display-container.hatcher{data: {section_name: "/hatcher"}}
  .project-display
    .project-display-headings
      %h2.project-display-title HATCHER
      %label.project-display-label UI/UX Design
    .project-display-hero
      = image_tag 'formnflow/formnflow-hero-1', class: 'project-display-hero-image'
      = image_tag 'formnflow/formnflow-hero-2', class: 'project-display-hero-image'

.project-display-gradient
.project-display-container.speedy-vocab{data: {section_name: "/speedy-vocab"}}
  .project-display
    .project-display-headings
      %h2.project-display-title SPEEDY VOCAB
      %label.project-display-label Video Production & Editing
    .project-display-hero
      = image_tag 'formnflow/formnflow-hero-1', class: 'project-display-hero-image'
      = image_tag 'formnflow/formnflow-hero-2', class: 'project-display-hero-image'

.project-display-gradient
.project-display-container.nexus-pattern{data: {section_name: "/nexus-pattern"}}
  .project-display
    .project-display-headings
      %h2.project-display-title NEXUS PATTERN
      %label.project-display-label UI/UX Design & Front-End Dev
    .project-display-hero
      = image_tag 'formnflow/formnflow-hero-1', class: 'project-display-hero-image'
      = image_tag 'formnflow/formnflow-hero-2', class: 'project-display-hero-image'
