.barba-container{data: {namespace: 'showcase'}}
  .swiper-container.showcase
    .swiper-wrapper.project-showcase-container

      .swiper-slide{data: {hash: t('home.index.formnflow.hash')}}
        .project-showcase
          .project-showcase-headings
            %h2.project-showcase-title Formnflow
            %label.project-showcase-subtitle UI/UX design & front-end development

          .project-showcase-description
            %p An intuitive and neat-looking Form Builder designed to cover a wide range of use cases.
            %p My role in this project was to improve the UI, UX and front-end of the platform.
            %p Formnflow is a Hashbang Ltd product that I helped build with both my design & front-end expertise.

          %p.project-showcase-resources
            Ruby on Rails, HAML, SASS, Coffeescript (Javascript & jQuery), Sketch, Adobe Illustrator and Photoshop

          .project-showcase-images-container.two-images
            .project-showcase-image
              = image_tag "formnflow/formnflow-showcase-1.svg", class: 'project-display-hero-image'
            .project-showcase-image
              = image_tag "formnflow/formnflow-showcase-2.svg", class: 'project-display-hero-image'

          %hr

          .project-showcase-section
            %h3.project-showcase-section-title
              the challenge
            %p.project-showcase-section-description
              My focus went into improving the interface's UI, optimising the current UX in place and polishing any other visuals in place to bring visual consistency to the app.
              I translated the existing functionality into a more clear experience for the user to avoid any possible confusion throughout the workflow.
              The biggest challenge in this project was working solo, without the assistance of a back-end developer, which turned out to be a great learning opportunity.

          .project-showcase-images-container.three-images
            .project-showcase-image
              = image_tag "formnflow/formnflow-showcase-3.svg", class: 'project-display-hero-image'
            .project-showcase-image
              = image_tag "formnflow/formnflow-showcase-4.svg", class: 'project-display-hero-image'
            .project-showcase-image
              = image_tag "formnflow/formnflow-showcase-4.svg", class: 'project-display-hero-image'

          %hr

          .project-showcase-section
            %h3.project-showcase-section-title
              Project Highlight
            %p.project-showcase-section-description
              As one of my very favourite design tasks, I am very happy and proud to have created a custom library of icons for Formnflow.
              All icons have been very carefully designed as vectors with plenty of consideration into the visual consistency and functional expressiveness of the app.

          = render partial: 'shared/project-icons-grid'

-#
-# FINAL RESULT:
-#
-# IMAGE
-# IMAGE
-# IMAGE
-#
-# FEEDBACK:
-#
-# Overall the new Design and Front-end of Formnflow was a success and even though there were a lot of visual changes (users can be very reluctant to change), the clients were really happy with the result and testing carried out very smoothly.
